@import url(https://fonts.googleapis.com/css?family=Work+Sans);
*{
    font-family: 'Work Sans';
}
.resize-animation-stopper * {
    transition: none !important;
}
body{
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
}
#github-profile{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    left: 0;
    bottom:0;
    margin: 10px;
    border: 3px solid transparent;
    transition: .2s;
}
#github-profile:hover{
    border: 3px solid mediumspringgreen;
}
#side-form.active #github-profile{
    display: none;
}
#side-form{
    position: relative;
    height: 100vh;
    width: 80px;
    background-color: rgb(55, 51, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    transition: 0.2s;
}
#side-form.active{
    width: 100%;
}
#side-form.active:hover{
    cursor:auto;
}
#side-form h1{
    position: absolute;
    writing-mode: vertical-lr;
    text-align: center;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    animation: textAnimationReverse .5s cubic-bezier(0.16,-0.62, 0.46, 0.98) forwards;
    transition: .2s;
}
#side-form.active h1{
    color:white;
    animation: textAnimation 1s cubic-bezier(0.52, 0.3, 0.4, 1.15) forwards;
}
#open-button{
    position: absolute;
    top:0;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color:white;
    transition: .2s;
}
#open-button:hover{
    color:mediumspringgreen;
    cursor: pointer;
}
#side-form.active #open-button{
    display: none;
}
#form{
    display: none;
    height: 60%;
    width: 60%;
}
#form input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    color:white;
    font-size: 20px;
    transition: .2s;
}
#form input:hover{
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}
#form input:focus{
    border-bottom: 2px solid mediumspringgreen;
}
#form span input{
    width: 30px;
    height: 20px;
}
#form span input:hover{
    cursor: pointer;
}
#form span{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    font-size: 20px;
}
.buttons{
    background-color:mediumspringgreen;
    border: none;
    height: 40px;
    width: 150px;
    transition: .2s;
    font-size: 20px;
}
.buttons:hover{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid mediumspringgreen;
    color:white;
}
#cancel-button:hover{
    border: 1px solid rgb(224, 64, 77);
}
#side-form.active #form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#books-container{
    position: relative;
    color:white;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 245, 226);
}
#overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: 0.2s;
}
#books-container-content{
    height: 100vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#books-container-content h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
#books-table{
    color:black;
    margin: 20px;
    width: 80%;
}
#books-table th{
    background-color:rgb(55, 51, 52);
    color: white;
    padding:10px;
}
#books-table tr{
    transition: .1s;
}
#books-table tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}
#books-table tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}
#books-table tr:hover{
    background-color: rgba(0, 250, 154, 0.3);
}
#books-table td{
    text-align: center;
    padding: 10px;
}
.deleteButton{
    font-size: 25px;
    width: 100%;
    height: 100%;
    transition: .1s;
}
.deleteButton:hover{
    color:rgb(224, 64, 77);
}
@keyframes textAnimation{
    0%{
        top:50%;
        transform: translateY(-50%);
    }
    100%{
        top:100px;
    }
}
@keyframes textAnimationReverse{
    0%{
        top:100px;
    }
    100%{
        top:50%;
        transform: translateY(-50%);
    }
}
@keyframes textAnimationSmall{
    0%{
        color:white
    }
    20%{
        color: transparent;
    }
    100%{
        color: white;
    }
}
@keyframes textAnimationSmallReverse{
    0%{
        color:white;
    }
    80%{
        color: transparent;
    }
    100%{
        color: white;
    }
}
@media only screen and (max-width: 800px) {
    #side-form{
        position:fixed;
        top:0;
        left:0;
        height: 80px;
        width: 100%;
        background-color: rgb(55, 51, 52);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        transition: .2s;
        z-index: 2;
    }
    #side-form h1{
        position: absolute;
        writing-mode: horizontal-tb;
        top:20px;
        left:5px;
        animation: none;
        transition: .2s;
        animation: textAnimationSmallReverse .2s forwards;
    }
    #side-form.active h1{
        animation: textAnimationSmall .2s forwards;
    }
    #open-button{
        right: 0;
        bottom:0;
    }
    #side-form.active #open-button{
        display: none;
    }
    #side-form.active{
        height: 100vh;
        width: 100%;
        background-color: rgb(55, 51, 52);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:white;
        transition: .2s;
        z-index: 2;
    }
    #side-form.active #form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #books-container-content{
        margin-top: 80px;
    }
    #github-profile{
        position: fixed;
        left:0;
        top:4px;
        z-index: 2;
    }
}